{% import '_includes/forms' as forms %}
{% includeCssResource 'moltin/css/settings.css' %}

<h2>Moltin API Credentials</h2>

<p>Enter your API credentials here:</p>

<div class="moltin-field-container">

	{{ forms.textField({
		label: "Client ID"|t,
		id: 'clientId',
		name: 'clientId',
		value: settings.clientId,
		errors: settings.getErrors('clientId')
	}) }}

	{{ forms.textField({
		label: "Client Secret"|t,
		id: 'clientSecret',
		name: 'clientSecret',
		value: settings.clientSecret,
		errors: settings.getErrors('clientSecret')
	}) }}

</div>